*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
header{
    width:100vw;
    height:12vh;
    position:fixed;
    z-index:2;
    background-color:lightgray;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
  
.page{
    position:fixed;
    left:-100vw;
    width:100vw;
    height: 88vh;
    top:12vh;
    overflow:hidden;
    display:grid;
    place-items:center;
    transition: 0.3s 0.3s all ease-in-out;
}
  
.visible{
    left:0;
    transition: 0.3s all ease-in-out;
}
  
.box{
    position:relative;
    width:80%;
    height:80%;
    display:grid;
    place-items:center;
    border:1px solid white;
}
#joke-container {
    display: inline-block;
    text-align: left;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }